.sudoH1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  color: #2a9fd6;
}
.sudoH6 {
  font-size: 12px;
  line-height: 1.1;
  color: #2a9fd6;
}
.imgSmall {
  width: 7%;
  margin-left: 20px;
}
.th {
  vertical-align: bottom;
  line-height: 1.42857143;
  text-align: left;
  background-color: lightblue;
}
.thInner {
  padding: 8px;
}
.td {
  padding: 8px;
  background-color: palegreen;
}
.tableParts {
  display: table;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
