/* LessonSectionHeader */

.header {
  /*border: 1px solid rgb(75, 75, 75);*/

}
.titleFont {
  font-family: 'Roboto', sans-serif;
}
.titleOne {
  font-size: 28px;
  margin: 15px 0;
  padding: 7px 0;
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(75, 75, 75);
}
.titleTwo {
  font-size: 28px;
  margin: 20px 0;
}
.titleThree {
  font-size: 22px;
  margin: 18px 0;
}
.titleFour {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
}

.subTitleOne {
  font-size: 28px;
  margin: 20px 0;
}
.subTitleThree {
  font-size: 22px;
  margin: 18px 0;
}
.subTitleThree {
  font-size: 18px;
  margin: 16px 0;
}
