/* Callout */

.callout {
  padding: 20px;
  margin: 20px 0;
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(75, 75, 75);
  border-left-width: 5px;
  border-radius: 3px;
}
.callout p:last-child {
  margin-bottom: 0px;
}
.calloutMedium {
  max-width: 70%;
}
.calloutDanger {
  background-color: rgb(242, 222, 222);
  border-left-color: #ce4844;
  color: black;
}
.calloutWarning {
  background-color: #fff9cc;
  border-left-color: #ffe202;
  color: black;
}
.calloutInfo {
  color: black;
  border-left-color: #1b809e;
  margin: 20px 0;
  padding: 20px;
}

.calloutGoal {
  color: white;
  border-left-color: #008000;
  /*background-color: white;*/
  margin: 20px 0;
  padding: 20px;
}
.callout code {
  border-radius: 3px;
}
/* Tighten up space between multiple callouts */
.callout + .callout {
  margin-top: -5px;
}


.title{
  margin-bottom: 12px;
  margin-top: 0;
}
.titleDanger {
  color: #ce4844;
}

.titleWarning {
  color: #aa6708;
}

.titleInfo {
  color: #1b809e;
}
.titleGoal {
  color: #008000;
}
